@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,800&display=swap');

@font-face {
    font-family: 'arsenica';
    src: url(../assets/fonts/ArsenicaTrial-Bold.ttf); 
}

@font-face {
    font-family: 'klaristha';
    src: url(../assets/fonts/Klaristha-Thin.ttf);   
}

@font-face {
    font-family: 'blubble';
    src: url(../assets/fonts/Bubbleboddy-ExtraLightTrial.ttf);
}

@font-face {
    font-family: 'gallient';
    src: url(../assets/fonts/Gallient.ttf);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --text: #FFFFFF;
    --purple: #8048D8;
    --darkblackpurple: #3F2773;
    --darkpurple: rgb(63, 2, 107);
    --lightpurple: #DED2FF;
    --pink: #F085F2;
    --blue: #6bcbf1;
    --yellow: #F2EDA2;

}

html, body {
    scroll-behavior: smooth;
    max-width: 100%;
    height: 100vh;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.container_img{
    width: 100%;
    height: 20vh;
    background-color: #6bcbf1;
}

.music__info h1{
    font-family: 'gallient';
    font-size: 70px;
    text-align: center;
}

.music__info p{
    font-family: 'blubble';
    font-size: 40px;
    text-align: center;
}

.music__info h2{
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}
